input[type=button] {margin-top: 20px;height: 50px;}
body, html {margin: 0px;background-image: url('../images/Background/AddProducts.jfif');background-size: cover;}
.jumbotron {margin: 0px;opacity: 0.95;}
.well {max-width: 900px;margin-left: auto;margin-right: auto;border-radius: 50px;}
form {max-width: 900px;margin: auto;}
