.footer{margin:10px;}
.Address{margin:auto;padding-bottom:5px;box-shadow:2px 2px 3px 1px;}
.Summary{font-size:14px;}
.SummaryAndCheckOut{ text-align:center;}
.body{margin-top:30px;}
#Products{}
#AddressForm{margin-top:270px;}