<!DOCTYPE html>
<html>
<head>
    <link href="../scripts/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../scripts/css/AddressesList.css" rel="stylesheet" />
    <link href="../scripts/css/Header.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span data-bind="text:BrandName"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!--<ul class="nav navbar-nav navbar-left h1">
                    <li><a><span data-bind="text:Role"></span></a></li>
                </ul>-->
                <ul class="nav navbar-nav">
                    <li class="active"><a href="Home.html">Home</a></li>

                    <li>
                        <a href="">User Account</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Operations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="AddProducts.html">Add Products</a></li>
                            <li><a href="#">Remove Products</a></li>
                            <li><a href="#">Edit Products</a></li>
                            <li><a href="#">List Of Products</a></li>
                            <li><a href="AddCategories.html">Add Category</a></li>
                            <li><a href="#">Remove Category</a></li>
                            <li><a href="#">List Of Categories</a></li>
                        </ul>
                    </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li data-bind="if:IsLoggedIn()"><a><span class="glyphicon glyphicon-user"></span> <span data-bind="text:UserName"></span></a></li>
                    <li><a href="#" data-bind="click:Logout"><span class="glyphicon glyphicon-log-in"></span> <span data-bind="text:Status"></span></a></li>
                </ul>

            </div>
        </div>
    </nav>


    <div id="body"  style="margin-top:50px;">
        <div id="Addresses" data-bind="foreach:{data:AllAddresses,as:'Address'}">
            <div class="container">
            <p class="address-container">
                    
                    <input class="col-xs-1" name="Test" type="radio" data-bind="checked:SelectedAddressId,checkedValue:Address.Id" />
                
                 <p class="Address col-xs-7"><span data-bind="text:Address.Name"> </span> <span data-bind="text:Address.MobileNumber"></span>
                    <br />
                     <span data-bind="text:Address.FlatNoBuildingName"></span>&nbsp;
                     <span data-bind="text:Address.LocalityOrStreet"></span>&nbsp;
                     <span data-bind="text:Address.LandMark"></span>&nbsp;
                     <span data-bind="text:Address.City"></span>&nbsp;
                     <span data-bind="text:Address.State"></span>&nbsp;
                     <span data-bind="text:Address.PinCode"></span></p>  
            
            <span class="col-xs-4">    
            <button class="col-xs-12 col-sm-5 btn btn-warning">Edit</button><span class="col-sm-2 col-xs-0"></span>
                <button class="col-xs-12 col-sm-5 btn btn-danger" data-bind="click:Remove">Remove</button>

          </span>
            
         </div>
       </div>
        </div>
    <div class="footer navbar-fixed-bottom">

        <div class="container">
            <div class="container">
            <!--<div data-bind="if:IsAdding" class="AddingAddress">
                <label class="col-md-2 col-xs-0">Enter Address</label>
                <textarea class="col-xs-9" data-bind="value:NewAddress"></textarea>
                <input class="col-xs-1 btn-link" type="button" value="Add" data-bind="click:Add" />
            </div>
            <br /><br /><br /><br /><br />-->

            <div class="Actions">
                <span class="col-sm-6"></span>
                <input type="button" class="col-sm-3 col-xs-12 btn btn-link" value="Add New Address" data-bind="click:AddNewAddress" />
                <input type="button" class="col-sm-3 col-xs-12 btn btn-success" value="Next" data-bind="click:Next" />
            </div>
                </div>
        </div>
    </div>
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/knockout-3.4.2.js"></script>
    <script src="../scripts/javascript/Header.js"></script>
    <script src="../scripts/javascript/AddressesList.js"></script>
    
</body>
</html>
